[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.28.1"
arcgis = "==2.0.1"

[requires]
python_version = "3.9.12"

[pipenv]
allow_prereleases = true
